In [1]:
import pandas as pd
from math import log10
data = pd.read_csv("../data/data.csv", encoding='utf-8',delimiter=";")

SENW = {'S': 0, 'E': 1, 'N': 2, 'W': 3}
def res2df(x, i):
    a = x.split('|')
    a[0] = 0 if a[0] == 'l' else 1;
    a[1] = SENW[a[1]]
    a[2] = int(a[2]) + 1
    return a[i]

macs = {}
def mac2id(x):
    if macs.get(x):
        return macs[x]
    macs[x] = len(macs)
    return macs[x]

for x in range (0, 10):
    data['mac'+str(x)] = data['mac'+str(x)].apply(lambda x: mac2id(x))
    data['dbm'+str(x)] = 10 ** (( 27.55 - (20 * log10(2400)) + data['dbm'+str(x)] ) / 20 )
    data['ssid'+str(x)] = data['ssid'+str(x)].apply(lambda x: mac2id(x))
#    data['X'] = data
data['res0'] = data['res'].dropna().apply(lambda x: res2df(x, 0))
data['res1'] = data['res'].dropna().apply(lambda x: res2df(x, 1))
data['res2'] = data['res'].dropna().apply(lambda x: int(res2df(x, 2)))

target = [
    ['l', 'p'],
    ['S', 'E', 'N', 'W'],
    ['-1', '0', '1', '2', '3', '4', '5', '6'], 
    [''] * 200
]

In [2]:
datalearn = data[data['res'].isna() == False]
datalearn

,res,dbm0,mac0,ssid0,dbm1,mac1,ssid1,dbm2,mac2,ssid2,...,dbm8,mac8,ssid8,dbm9,mac9,ssid9,Unnamed: 31,res0,res1,res2
134,p|W|4,3.526052,4,44,9.937766,7,44,15.750297,58,45,...,55.884164,8,44,62.703063,2,44,NaN,1.0,3.0,5.0
135,p|W|4,3.956296,4,44,9.937766,7,44,17.672124,3,45,...,44.390369,8,44,55.884164,2,44,NaN,1.0,3.0,5.0
136,p|S|6,1.982845,6,44,4.439037,5,44,7.893848,58,45,...,88.570431,107,112,111.503566,136,123,NaN,1.0,0.0,7.0
137,p|S|6,1.767212,6,44,6.270306,5,44,15.750297,63,44,...,99.377658,127,132,140.374673,136,123,NaN,1.0,0.0,7.0
138,p|S|6,1.403747,6,44,7.035399,5,44,7.893848,63,44,...,78.938480,117,123,99.377658,30,44,NaN,1.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,p|W|4,19.828450,4,44,44.390369,1,44,44.390369,63,44,...,99.377658,58,45,125.109059,6,44,NaN,1.0,3.0,5.0
273,l|E|4,3.956296,1,44,11.150357,31,45,11.150357,28,44,...,55.884164,41,57,62.703063,108,95,NaN,0.0,1.0,5.0
274,l|N|4,11.150357,1,44,12.510906,31,45,22.247886,28,44,...,280.084295,39,55,280.084295,38,54,NaN,0.0,2.0,5.0
275,l|E|4,7.035399,2,44,17.672124,1,44,19.828450,3,45,...,99.377658,14,47,111.503566,7,44,NaN,0.0,1.0,5.0
276,l|E|4,5.588416,2,44,8.857043,1,44,19.828450,3,45,...,55.884164,27,44,70.353994,40,56,NaN,0.0,1.0,5.0

In [3]:
import numpy as np

X = datalearn[['dbm0', 'mac0']].values
y0 = datalearn[['res0']].values
y1 = datalearn[['res1']].values
y2 = datalearn[['res2']].values
for i in range(1, 10): 
    nan_dbm = datalearn['dbm'+str(i)].isna() == False
    nan_mac = datalearn['mac'+str(i)].isna() == False
    nan = nan_dbm & nan_mac
    X = np.append(X, datalearn[['dbm'+str(i), 'mac'+str(i)]][nan].values, axis = 0)
    y0 = np.append(y0, datalearn[['res0']][nan].values, axis = 0)
    y1 = np.append(y1, datalearn[['res1']][nan].values, axis = 0)
    y2 = np.append(y2, datalearn[['res2']][nan].values, axis = 0)

#len(X)

X = pd.DataFrame(X)
y0 = pd.DataFrame(y0)
y1 = pd.DataFrame(y1)
y2 = pd.DataFrame(y2)

In [4]:
from sklearn.ensemble import GradientBoostingClassifier

lr0 = GradientBoostingClassifier(random_state=1, n_estimators=100)
lr0 = lr0.fit(X, y0.values.ravel())
new_learn_score0 = lr0.score(X, y0)
lr1 = GradientBoostingClassifier()
lr1 = lr1.fit(X, y1.values.ravel())
new_learn_score1 = lr1.score(X, y1)
lr2 = GradientBoostingClassifier()
lr2 = lr2.fit(X, y2.values.ravel())
new_learn_score2 = lr2.score(X, y2)


[new_learn_score0, new_learn_score1, new_learn_score2]

[0.8386167146974063, 0.6304034582132565, 0.5979827089337176]

In [5]:
sample = datalearn.sample()

X = sample[['dbm0', 'mac0']].values
y0 = sample[['res0']].values
y1 = sample[['res1']].values
y2 = sample[['res2']].values
for i in range(1, 10): 
    nan_dbm = sample['dbm'+str(i)].isna() == False
    nan_mac = sample['mac'+str(i)].isna() == False
    nan = nan_dbm & nan_mac
    X = np.append(X, sample[['dbm'+str(i), 'mac'+str(i)]][nan].values, axis = 0)
    y0 = np.append(y0, sample[['res0']][nan].values, axis = 0)
    y1 = np.append(y1, sample[['res1']][nan].values, axis = 0)
    y2 = np.append(y2, sample[['res2']][nan].values, axis = 0)

res0 = pd.DataFrame(lr0.predict_proba(X))
mean0 = pd.DataFrame(res0.mean())
r0 = mean0.sort_values(by=0, ascending=False).index[0]

res1 = pd.DataFrame(lr1.predict_proba(X))
mean1 = pd.DataFrame(res1.mean())
r1 = mean1.sort_values(by=0, ascending=False).index[0]

res2 = pd.DataFrame(lr2.predict_proba(X))
mean2 = pd.DataFrame(res2.mean())
r2 = mean2.sort_values(by=0, ascending=False).index[0]

s0 = lr0.predict(X)
s1 = lr1.predict(X)
s2 = lr2.predict(X)

print("resultat {}\nres ind\t{}\nmesure\t({})".format([r0, r1, r2], [[int(s0[0]), int(s1[0]), int(s2[0])], [int(s0[1]), int(s1[1]), int(s2[1])]], [int(y0.ravel()[0]), int(y1.ravel()[0]), int(y2.ravel()[0])]))

resultat [1, 0, 2]
res ind	[[1, 0, 3], [1, 0, 4]]
mesure	([1, 0, 2])

In [6]:
predicted = []

for mesure in datalearn.values:
    data2predict = []
    for i in range (0, 10):
        x = mesure[i*3 + 1 : i*3 + 3]
        if x[0] > 0:
            data2predict.append(x)
    
    predicted.append([
        pd.DataFrame(pd.DataFrame(lr0.predict_proba(data2predict)).mean()).sort_values(by=0, ascending=False).index[0],
        pd.DataFrame(pd.DataFrame(lr1.predict_proba(data2predict)).mean()).sort_values(by=0, ascending=False).index[0],
        pd.DataFrame(pd.DataFrame(lr2.predict_proba(data2predict)).mean()).sort_values(by=0, ascending=False).index[0],
    ])
predicted = pd.DataFrame(predicted)
predicted

     0  1  2
0    1  0  5
1    1  0  5
2    1  0  7
3    1  0  7
4    1  0  7
..  .. .. ..
138  1  3  5
139  0  1  5
140  1  2  5
141  0  1  5
142  0  1  5

[143 rows x 3 columns]

In [7]:
origin = pd.DataFrame(datalearn[['res0', 'res1', 'res2']].values)
origin

       0    1    2
0    1.0  3.0  5.0
1    1.0  3.0  5.0
2    1.0  0.0  7.0
3    1.0  0.0  7.0
4    1.0  0.0  7.0
..   ...  ...  ...
138  1.0  3.0  5.0
139  0.0  1.0  5.0
140  0.0  2.0  5.0
141  0.0  1.0  5.0
142  0.0  1.0  5.0

[143 rows x 3 columns]

In [9]:
from sklearn.metrics import classification_report

origin[3] = origin[2] + origin[1]*10 + origin[0]*100
predicted[3] = predicted[2] + predicted[1]*10 + predicted[0]*100

for i in range(0,3):
    print(classification_report(origin[i], predicted[i], target_names=target[i]))

print(classification_report(origin[3], predicted[3]))

              precision    recall  f1-score   support

           l       0.97      0.89      0.93        63
           p       0.92      0.97      0.95        80

    accuracy                           0.94       143
   macro avg       0.94      0.93      0.94       143
weighted avg       0.94      0.94      0.94       143

              precision    recall  f1-score   support

           S       0.86      0.90      0.88        40
           E       1.00      0.44      0.61        16
           N       0.71      0.98      0.83        51
           W       0.92      0.61      0.73        36

    accuracy                           0.80       143
   macro avg       0.87      0.73      0.76       143
weighted avg       0.84      0.80      0.79       143

              precision    recall  f1-score   support

          -1       1.00      0.75      0.86        16
           0       0.81      1.00      0.90        26
           1       0.88      0.92      0.90        24
           2       1.00      0.67      0.80        15
           3       0.93      1.00      0.96        25
           4       0.92      1.00      0.96        22
           5       1.00      0.78      0.88         9
           6       1.00      1.00      1.00         6

    accuracy                           0.91       143
   macro avg       0.94      0.89      0.91       143
weighted avg       0.92      0.91      0.91       143

              precision    recall  f1-score   support

         1.0       0.00      0.00      0.00         1
         2.0       1.00      1.00      1.00         3
         3.0       0.00      0.00      0.00         2
         4.0       0.75      0.75      0.75         4
         6.0       1.00      1.00      1.00         2
        10.0       0.00      0.00      0.00         4
        11.0       0.00      0.00      0.00         1
        13.0       0.00      0.00      0.00         1
        14.0       1.00      0.67      0.80         3
        15.0       1.00      1.00      1.00         3
        16.0       0.00      0.00      0.00         1
        20.0       0.67      1.00      0.80         2
        21.0       0.55      1.00      0.71         6
        22.0       0.80      1.00      0.89         4
        23.0       0.00      0.00      0.00         2
        24.0       0.50      1.00      0.67         2
        25.0       1.00      0.50      0.67         4
        30.0       1.00      0.75      0.86         4
        31.0       1.00      1.00      1.00         4
        32.0       0.67      1.00      0.80         4
        33.0       0.00      0.00      0.00         1
        35.0       0.60      1.00      0.75         3
        36.0       1.00      0.50      0.67         2
       101.0       1.00      0.50      0.67         2
       102.0       0.86      1.00      0.92         6
       103.0       1.00      1.00      1.00         3
       104.0       0.88      1.00      0.93         7
       105.0       0.50      1.00      0.67         4
       106.0       1.00      1.00      1.00         3
       107.0       1.00      1.00      1.00         3
       110.0       1.00      0.67      0.80         3
       120.0       0.75      1.00      0.86         3
       121.0       0.44      0.78      0.56         9
       122.0       0.75      0.75      0.75         4
       123.0       0.57      1.00      0.73         4
       124.0       0.80      1.00      0.89         4
       125.0       0.60      1.00      0.75         3
       126.0       1.00      1.00      1.00         1
       127.0       1.00      1.00      1.00         3
       131.0       0.00      0.00      0.00         3
       132.0       0.00      0.00      0.00         3
       133.0       0.00      0.00      0.00         2
       134.0       1.00      0.80      0.89         5
       135.0       1.00      0.20      0.33         5

    accuracy                           0.74       143
   macro avg       0.63      0.66      0.62       143
weighted avg       0.69      0.74      0.68       143